<%= link_to cover.url, class: "system-cover system-cover--#{cover.published}" do %>
  <div class="system-cover__title"><%= cover.title %></div>
  <div class="system-cover__author"><%= cover.author %></div>
  <div class="system-cover__genre"><%= cover.genre %></div>
<% end %>