<div class="system-avatar dropdown">
  <a class="system-avatar__circle dropdown-toggle" href="#" role="button" id="avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= avatar.name[0,2] %>
  </a>
  <div class="system-avatar__menu dropdown-menu dropdown-menu-right" aria-labelledby="avatar">
    <%= avatar %>
  </div>
</div>