.system-breadcrumbs {
  margin: 24px 0;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  a {
    color: system-color(gray,400);
    display: flex;
    align-items: center;
    &:after {
      content: "|";
      margin-right: 16px;
      margin-left: 16px;
      font-size: 6px;
    }
  }
  strong {
    color: system-color(gray,900);
  }
}